<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563676343991-gc9g7d6beketq3rbovgt8oo3pasjdgip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563676343991-gc9g7d6beketq3rbovgt8oo3pasjdgip</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>563676343991-hfqk47rf8rmmu5pblj97k3t61t0sg29r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCwhZn9KVRM4qlvu7GHaf325dx1YOZ1-0</string>
	<key>GCM_SENDER_ID</key>
	<string>563676343991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.antonx</string>
	<key>PROJECT_ID</key>
	<string>antonx</string>
	<key>STORAGE_BUCKET</key>
	<string>antonx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563676343991:ios:a384dadaac254755ca6732</string>
</dict>
</plist>